@model HappeningsDotNetC.Dtos.EntityDtos.HappeningDto
@{ 
    var userDropDownList = new SelectList((Dictionary<Guid, string>)ViewData["UserDropDown"], "Key", "Value");
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Happening" asp-action="Write" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
    @Html.HiddenFor(model => model.Id)

    <div class="slimTable">
        <div class="tableRow">
            <div class="tableCell">Name: </div>
            <div class="tableCell">@Html.EditorFor(model => model.Name)</div>
        </div>

        <div class="tableRow">
            <div class="tableCell">Desc: </div>
            <div class="tableCell">@Html.EditorFor(model => model.Description)</div>
        </div>

        <div class="tableRow">
            <div class="tableCell">Organizer: </div>
            <div class="tableCell"> @Html.DropDownListFor(model => model.ControllingUserId, userDropDownList)</div>
        </div>

        <div class="tableRow">
            <div class="tableCell">Time: </div>
            <div class="tableCell">@Html.EditorFor(model => model.StartTime) to @Html.EditorFor(model => model.EndTime) </div>
        </div>

        <div class="tableRow">
            <div class="tableCell">Visibility: </div>
            <div class="tableCell">Public @Html.RadioButtonFor(model => model.IsPrivate, false) Private @Html.RadioButtonFor(model => model.IsPrivate, true)</div>
        </div>

        <div class="tableRow">
            <div class="tableCell"></div>
            <div class="tableCell"></div>
        </div>
    </div>

    <button type="submit">@ViewData["PageVerb"] Happening</button>
    @if ((string)ViewData["PageVerb"] == "Create")
    {
        <span>Note: Happenings start empty. Add users after creation</span>
    }
</form>

@if ((string)ViewData["PageVerb"] == "Edit")
{
    // UserMembership only makes sense to show when Editting rather than when creating.
    <h3>Users</h3>

    <div class="slimTable">

        @for (var i = 0; i < Model.AllUserInfo.Count(); i++)
        {
            var userElement = Model.AllUserInfo.ElementAt(i);
            @Html.EditorFor(model => userElement, "InvitationDto");
        }

    </div>

    <form asp-controller="Happening" asp-action="AddHappeningMember" method="post">
        @Html.Hidden("HappeningId", Model.Id)
        @Html.DropDownList("UserId", new SelectList((Dictionary<Guid, string>)ViewData["UserDropDown"], "Key", "Value"))
        <button type="submit">Add User</button>        
    </form>
}

<br/><br/>

@if (@ViewData["Referer"] != null && !string.IsNullOrWhiteSpace((string)@ViewData["Referer"]))
{
    <a href="@ViewData["Referer"]">Return</a>
}
else
{
    <a asp-area="" asp-controller="Calendar" asp-action="Index">Return to Calendar</a>
}
